<div class = "upper_part_background">
<div class = "top_logo">
<%= image_tag 'top_logo.png',width: "450px", height: "113px" %>
</div>
<div class = "top_content">
　あなたの生み出す音楽を共有し、閃きを見逃しません<br>
　あらゆる創造性を担保し、飽くなき挑戦を後押しします<br>
インディペンデントな活動をするアーティストにピッタリです<br>
昨日までの自分たちを超え、新たな楽曲製作をサポートします<br>
</div>
</div>

<div class = "under_part">
<%= image_tag 'top_option.png',width: "700px", height: "242px" %>
</div>