<div class="project_form_container">
  <%= form_with(model: @project, local: true) do |f| %>
    <h4 class="new_project">新規プロジェクトを作成</h4>
    
    <% if @project.errors.any? %>
      <div id="error_explanation">
        <ul>
          <% @project.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="project_form_blank"></div>

    <div class="project_name">
      <%= f.text_field :name, size: "60", style: "border: none; height: 40px;", placeholder: "プロジェクト名" %>
    </div>

    <div class="project_form_blank"></div>
    
    <%= f.submit "作成する", class: "btn btn-danger" %>
  <% end %>
</div>

