<div>
  <%= form_with scope: :post, url: joins_path, local: true do |f| %>
    <%= hidden_field :project_id, @project.id %>
    <div>
      メール:
      <%= text_field_tag :email %>
    </div>
    <%= f.submit "登録する" %>
  <% end %>
</div>